---
import ButtonProductDelete from "@components/buttons/product-delete.astro";
import ButtonProductEdit from "@components/buttons/product-edit.astro";
import ButtonProductView from "@components/buttons/product-view.astro";
import type { Models } from "appwrite";
interface Props {
    products: Models.DocumentList<Models.Document>;
}
const { products } = Astro.props;
---

<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
        <tr>
            <th scope="col" class="p-4">
                <div class="flex items-center">
                    <input
                        id="checkbox-all"
                        type="checkbox"
                        class="w-4 h-4 text-primary-600 bg-gray-100 rounded border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label for="checkbox-all" class="sr-only">checkbox</label>
                </div>
            </th>
            <th scope="col" class="p-4">Producto</th>
            <th scope="col" class="p-4">Descripción</th>
            <th scope="col" class="p-4">Precio</th>
            <th scope="col" class="p-4">Cantidad</th>
            <th scope="col" class="p-4">Actions</th>
        </tr>
    </thead>
    <tbody>
        {
            products.documents.map((product) => (
                <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <td class="p-4 w-4">
                        <div class="flex items-center">
                            <input
                                id="checkbox-table-search-1"
                                type="checkbox"
                                class="w-4 h-4 text-primary-600 bg-gray-100 rounded border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                            />
                            <label
                                for="checkbox-table-search-1"
                                class="sr-only"
                            >
                                checkbox
                            </label>
                        </div>
                    </td>
                    <th
                        scope="row"
                        class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        <div class="flex items-center mr-3">
                            <img
                                src={product.image}
                                alt={product.name}
                                class="h-8 w-auto mr-3"
                            />
                            {product.name}
                        </div>
                    </th>
                    <td class="px-4 py-3">{product.description}</td>
                    <td class="px-4 py-3">
                        {(Number(product.price) / 100).toLocaleString("es-MX", {
                            currency: "MXN",
                            style: "currency",
                        })}
                    </td>
                    <td class="px-4 py-3">{Number(product.quantity)}</td>
                    <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex items-center space-x-4">
                            <ButtonProductEdit productId={product.$id} />
                            <ButtonProductView productId={product.$id} />
                            <ButtonProductDelete productId={product.$id} />
                        </div>
                    </td>
                </tr>
            ))
        }
    </tbody>
</table>
